@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
    text-decoration: none;
    color: inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
    font-family: 'Work Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}

header{
    margin-bottom: 60px;
}

.header__wrap{
    padding-top: 30px;
    display: flex;
}

.header__photo{
    border-radius: 30px;
    width: 250px;
    height: auto;
}

.header__info{
    padding: 0 90px;
}

.header__title{
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.header__text{
    font-size: 36px;
    font-weight: 200;
    text-align: center;
}

main{
    margin-bottom: 30px;
}

.main__wrap{
    display: flex;
}

.education{
    padding-right: 30px;
    flex-basis: 60%;
    border-right: 1px solid #5eb250;
}

.main__info{
    padding-left: 30px;
    flex-basis: 40%;
}

.main__title{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 300;
}

.education__year{
    display: flex;
}

.main__circle{
    height: 25px;
    width: 25px;
}

.education__info{
    width: 85%;
}

.education__number{
    line-height: 25px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 200;
}

.education__title{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 400;
}

.main__text{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
}

.education__title a{
    color: #5eb250;
}

.main__skill{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px;
}

.hardskills{
    margin-bottom: 40px;
}

.contacts{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.softskills{
    margin-bottom: 40px;
}

.contacts__link{
    color: #5eb250;
    font-size: 18px;
}

.education__title span{
    font-size: 15px;
    line-height: 0.5;
    font-weight: 100;
}

@media (max-width: 1150px) {
    .header__title{
        font-size: 60px;
        margin-bottom: 30px;
    }

    .header__text{
        font-size: 30px;
    }

    .header__info{
        padding: 0 60px;
    }

    .education__info{
        width: 90%;
    }

    .main__wrap{
        flex-direction: column;
    }

    .education{
        padding-right: 0;
        flex-basis: auto;
        border-right: none;
    }

    .main__info{
        padding-left: 0;
        flex-basis: auto;
    }
}

@media (max-width: 925px) {
    .education__info{
        width: 80%;
    }

    .header__title{
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .header__text{
        font-size: 25px;
    }

    .header__info{
        padding: 0 30px;
    }

    .header__photo{
        border-radius: 20px;
        width: 200px;
        height: auto;
    }
}

@media (max-width: 616px) {
    .header__photo{
        margin-bottom: 20px;
    }

    .header__wrap{
        flex-direction: column;
        align-items: center;
    }

    .main__circle{
        width: 20px;
        height: 20px;
    }

    .education__number{
        font-size: 20px;
        line-height: 20px;
    }

    .main__title{
        margin-bottom: 25px;
        font-size: 40px;
    }

    .education__title{
        margin-bottom: 30px;
        font-size: 20px;
    }
    
    .main__text{
        font-size: 17px;
        margin-bottom: 40px;
    }

    .education__info{
        width: 75%;
    }
}